<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.KPIEtechnologies.FGCTeeensManual" version="1.0.0">
  <name>FGC Teens 2017</name>
  <description>2017 TEENS SUNDAY SCHOOL MANUAL</description>
  <author href="http://atiittechnologies.com" email="fxroyalmoneysolution@gmail.com">KPIE Technology Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2"/>
  
  
  <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3"/>
  
  
  <icon src="icon.jpg"/>
  <platform name="android">
    <icon src="icon.jpg"/>
  </platform>
  <platform name="ios">
    <icon src="icon.jpg"/>
  </platform>
  <platform name="wp8">
    <icon src="icon.jpg"/>
  </platform>
  <platform name="windows">
    <icon src="icon.jpg"/>
  </platform>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  
  <allow-intent href="mailto:*"/>
  
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
